body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: steelblue;
}

/* app styles */
.App {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}
nav {
  padding: 5px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
.book-list {
  padding: 20px;
  margin-bottom: 20px;
}
.book-list ul {
  padding: 0;
  list-style-type: none;
}
.book-list li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
.book-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}
.book-list .title {
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}
.book-list .author {
  font-size: 0.9em;
  color: #ddd;
}
.toggle-theme {
  padding: 10px;
  border: 2px solid #20bf6b;
  border-radius: 19px;
  display: inline-block;
  margin: 0 20px;
}
.toggle-auth {
  color: #20bf6b;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 2px solid #20bf6b;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.toggle-auth:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
}
.toggle-auth:focus {
  outline: 0;
}
form {
  padding: 20px;
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #502d50d5;
  color: #fff;
  border: 0;
  border-radius: 7px;
}
input[type="text"]:focus {
  outline: 0;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
}
input[type="submit"] {
  color: #20bf6b;
  text-transform: uppercase;
  background: #ffffff;
  padding: 10px;
  border: 2px solid #20bf6b;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
input[type="submit"]:hover {
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
}
input[type="submit"]:focus {
  outline: 0;
  color: #494949;
  border-radius: 50px;
  border-color: #494949;
  transition: all 0.3s ease 0s;
}
